<section>
<h2>Ajouter un matériel</h2>
<form method="post" action="{{formAddActionUrl}}">
    <article>
    <p>
        <label for="inputAddName">Nom:</label>
        <input type="text" name="addDeviceName" id="inputAddName" required minlength="1"/>
    </p>
    <p>
        <label for="SelectCatDevices">Catégorie de matériels</label>
        <select name="addDeviceCat" id="SelectCatDevices" required pattern=".{1,}">
            <option value=""></option>
            <!-- BEGIN catDevices -->
            <option value="{{catDevices.value}}">{{catDevices.caption}}</option>
            <!-- END catDevices -->
        </select>
    </p>
    <p>
        <label for="SelectDeviceModel">Modèle:</label>
        <select name="addDeviceModel" id="addDeviceModel" required pattern=".{1,}">
        </select>
    </p>
    </article>
    <article id="deviceCustomAwnswers">

    </article>
    <article>
        <p><input type = "submit"/></p>
    </article>
</form>

</section>
<section>

<h2>Liste des matériels</h2>
<!-- BEGIN devices -->
<article>
    <h3>{{devices.display_name}}</h3>
    <p>Category:{{devices.category_display_name}}</p>
    <p>Modèle: {{devices.model_display_name}}</p>
    <!-- BEGIN devices.customconfig -->
    <p>{{devices.customconfig.key}}: {{devices.customconfig.value}}</p>
    <!-- END devices.customconfig -->
</article>
<!-- END devices -->

</section>